.color {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;

    &__title {
        width: 90px;
        font-size: 16px;
        margin-right: 5px;
    }

    &__input {

    }
}
